.nav-wrapper.container {
  min-width: 95%;
}

nav a.brand-logo, nav ul li a {
  color: black;
}
 a{
  color: black;
 }

nav a.brand-logo {
  padding-top: 0.25%;
}

nav a.brand-logo img{
  max-width: 4rem;
}

nav li a i.icon {
  color: #3f51b5;
}

.amber.lighten-5 {
  background-color: rgb(255, 248, 225) !important;
}

nav.amber.lighten-5.push-right {
  padding-left: 90px;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #000;
}

.tabs .tab a {
  color: rgba(0,0,0);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
} 

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #000;
}

.profile-pic{  
  position: absolute;
  max-width:200px;
  height:200px;
  top:150px;
  left: 50px;
  border-radius:50%;
  margin-bottom: 20px
}

.collection {
  margin: .5rem 0 1rem 0;
  border:0px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.container.push-down {
  padding-top: 50px;
}

span.shift-celeb-name {
  padding-left: 100px;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(256,256,256);
  outline: none;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #000;
  will-change: left, right;
}

.btn-round {
  border-radius: 2rem;
}

img.bg.dark-bg {
  object-fit: cover;
  height: 15rem;
  width: 100%;
  object-position: bottom;
  filter: brightness(0.7);
}

ul.nav-cats li {
  display: inline-block;
}

ul.nav-cats li a {
  padding: 0.4rem 1rem;
  color: black;
}

ul.nav-cats li:hover a {
  color: #ffa726;
}
i.material-icons.smaller {
  font-size: 15px;
}
.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
  font-size: smaller;
}


main .container {
  min-width: 90%;
}

.col-title {
  margin-left: 2rem;
}

span.title {
  border-bottom: 2px solid;
}

.footer-copyright.color-black {
  color: #000;
}



.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
}

.cover-photo{
  max-width:100%;
}

.bg { 
  /* The image used */
  background-image: url("img_girl.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}